.home {

    overflow-y: auto;

    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;

    height: 100%;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home::-webkit-scrollbar {
    display: none;
}

